# Python specific ignores
# See root .gitignore for common patterns

# Distribution / packaging
/dist/
/build/

# Testing
/.coverage
/htmlcov/

# Python specific cache
__pycache__/

# Project-specific files to ignore
OAI_CONFIG_LIST
