{:paths ["src" "resources"]
 :deps {org.clojure/clojure                 {:mvn/version "1.11.1"}
        clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
        cheshire/cheshire                   {:mvn/version "5.13.0"}
        clj-http/clj-http                   {:mvn/version "3.13.0"}
        nrepl/nrepl                         {:mvn/version "1.1.0"}
        io.pedestal/pedestal.jetty          {:mvn/version "0.7.2"}
        org.slf4j/slf4j-simple              {:mvn/version "2.0.16"}
        djblue/portal                       {:mvn/version "0.50.0"}}

 :aliases {:dev {:extra-deps {cider/cider-nrepl  {:mvn/version "0.37.1"}
                              binaryage/devtools {:mvn/version "1.0.7"}}
                 :extra-paths ["dev"]
                 :main-opts ["-m" "nrepl.cmdline"
                             "--middleware" "[cider.nrepl/cider-middleware]"
                             "--port" "7888"
                             "--bind" "0.0.0.0"]}
           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.280"}}
                    :main-opts ["-m" "nrepl.cmdline"
                                "--middleware" "[vlaaad.reveal.nrepl/middleware]"]}
           :run {:main-opts ["-m" "rlc.clarity.core"]}}}
